.form__button {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: hsla(204, 67%, 58%, 0.842);
    font-weight: bold;
    font-size: large;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.form__button:hover {
    background-color: hsla(204, 48%, 44%, 0.842);
}

.form__button:active {
    background-color: hsla(204, 47%, 27%, 0.842);
}